.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}
.header-elements-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 253px;
}
.header-select-box {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.header-select-text {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 24px;
}
.header-vertical-line {
  width: 1px;
  height: 32px;
  background: #e9e9e9;
}
.header-bgcolor-btn {
  width: 40px;
  height: 20px;
  background: #757575;
  border-radius: 10px;
}
.header-bgcolor-circle {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 3px;
}
