.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  width: 100%;
}
.not-found-emoji {
}
span {
  font-size: 64px;
}
.not-found-title {
  margin-top: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d;
}
.not-found-text {
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24px;
  text-align: center;
  color: #757575;
}
