.app-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
}
@media (max-width: 760px) {
  .app-container {
    padding: 0 20px;
  }
}
